<!-- chucks-dialog.component.html -->
<div mat-dialog-title>
    {{ title }}
    <button mat-icon-button (click)="onClose()" aria-label="Close dialog">
      <mat-icon>close</mat-icon>
    </button>
  </div>
  
  <mat-dialog-content>
    <ng-content></ng-content> <!-- Placeholder for any custom content passed into the dialog -->
  </mat-dialog-content>
  
  <mat-dialog-actions align="end">
    <button mat-button (click)="onClose()">Cancel</button>
    <button mat-button [mat-dialog-close]="true">OK</button>
  </mat-dialog-actions>
  